html {
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.content {
	margin-top: 20%;
    padding: 0 0.938rem;
    min-width: 37.5rem;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #DDD;
}

.top-navigation .logo {
    height: 4.375rem;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
}

.top-navigation .links {
	float:right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links .active {
	color:#4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	curser:pointer;
	color: #333333;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction .buttons {
	color: white;
	text-align: center;
	margin-top: 1.563rem;
}

.introduction h1 {
	margin-top: 17.5 rem;
	font-size: 3.125 rem;
}

.introduction h1, .introduction h3 {
	color: white;
    text-align: center;
    font-weight: 300;
}

.cases {
    background-color: #fff;
    overflow: hidden;
    	overflow-x: hidden;
   	 	overflow-y: hidden;
    padding-bottom: 5rem;
    display: block;
}

section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
   
}

div {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


@media (max-width: 500px)
{
	h1{font-size: 10px;}
}

